main .wrapper .content-wrapper .chart-button button{
    padding: 8px 16px;
    border-radius: 6px;
    background-color: rgba(40, 44, 52, 0.05);
    color: #2e79c4;
    border: 1px solid transparent;
    margin: 5px;
    display: inline-block;
    transition: all 0.25s ease;
}

main .wrapper .content-wrapper .chart-button button:hover, main .wrapper .content-wrapper .chart-button button.active{
    background-color: rgba(214, 233, 254, 0.9);
    border: 1px solid rgb(147, 197, 249);
}

main .wrapper .content-wrapper .chart-search .chart-paint{
    background-color: rgb(89, 89, 231);
    border: none;
    padding: 8px 16px;
}

main .wrapper .content-wrapper .chart-search .chart-paint:hover{
    background-color: rgb(72, 72, 194);
}

main .wrapper .content-wrapper .chart-div{
    display: none;
}

main .wrapper .content-wrapper .chart-div .bordered{
    border: 1px solid #dee2e6;
}

main .wrapper .content-wrapper .chart-div .chart-content{
    padding: 15px;
}

main .wrapper .content-wrapper .chart-div .chart-content .chart-export button{
    padding: 8px 16px;
    border-radius: 6px;
    background-color: rgba(40, 44, 52, 0.05);
    color: #2e79c4;
    border: 1px solid transparent;
    margin: 0 5px;
    display: inline-block;
    transition: all 0.25s ease;
}

main .wrapper .content-wrapper .chart-div .chart-content .chart-export button:hover{
    background-color: rgba(214, 233, 254, 0.9);
    border: 1px solid rgb(147, 197, 249);
}

main .wrapper .content-wrapper .chart-div .chart-content .chart-container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    min-width: 200px;
}

main .wrapper .content-wrapper .chart-div .chart-content .chart-container .chart-result-table h3{
    text-align: center;
    margin-bottom: 1.5rem;
}

main .wrapper .content-wrapper .chart-div .chart-content .chart-container .chart-result-table table{
    text-align: end;
}

main .wrapper .content-wrapper .chart-div .chart-content .chart-container .chart-result-table table thead tr{
    color: #fff;
    background-color: rgb(85, 130, 214);
}

@media screen and (min-width: 768px){
    main .wrapper .content-wrapper .chart-div .chart-content{
        padding: 50px;
    }
}

/* main .wrapper .content-wrapper .chart-div .chart-content .chart-container .chart{
    display: none !important;
}

main .wrapper .content-wrapper .chart-div .chart-content .chart-container .chart.active{
    display: inline-block!important;
} */