$titleText : white;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

nav{
    background-color: #20202c !important;
    
    .nav-wrapper{
        display: flex;
        flex-direction: row;
        align-items: center;

        .logo{
            a{
                padding: 20px;
                display: block;
                padding-left: 8px;
    
                span{
                    font-size: 1.25rem;
                    color: $titleText;
                }
            }
        }

        .sidebar-hamburger{
            display: block;

            .navbar-toggler{
                padding-top: 15px;
                padding-bottom: 15px;

                i{
                    color: rgb(243, 239, 239);
                }
            }
        }
    }
}

main{
    .wrapper{
        display: flex;
        flex-direction: row;

        .sidebar{
            background-color: #11101d;
            color: $titleText;
    
            .sidebar-navbar{
                width: 0;
                min-height: calc(100vh - 56px);
                transition: all 0.5s ease;
    
                ul{
                    list-style: none;
                    padding-left: 0;
                    margin-bottom: 0;
    
                    li{
                        display: block;
                        border-radius: 8px;
                        transition: all 0.2s ease;

                        a{
                            text-align: left;
                            color: $titleText;
                            flex-direction: column;
                            padding: 15px;

                            i{
                                font-size: 20px;
                            }

                            span{
                                font-size: 10px;
                            }
                        }

                        &:hover{
                            background-color: rgba(94, 93, 93, 0.8);
                            
                            a{
                                color: rgba(255, 255, 255, 0.6);
                            }
                        }
                    }
                }
            }

            .sidebar-navbar.toggle{
                width: 130px;
                padding-left: 15px;
                padding-right: 15px;

                ul li.active{
                    background-color: $titleText;
                    
                    a{
                        color: #11101d;
                    }
                }
            }
        }
    }
}


@media screen and (min-width: 768px) {
    main{
        .wrapper .sidebar{
            .sidebar-navbar{
                width: 130px;
                padding-left: 15px;
                padding-right: 15px;

                ul li.active{
                    background-color: $titleText;
                    
                    a{
                        color: #11101d;
                    }
                }
            }

            .sidebar-navbar.toggle{
                width: 200px;

                ul li a{
                    flex-direction: row;

                   span{
                        margin-left: 1rem;
                        font-size: 1rem;
                   }
                }
            }
        }
    }
}